[user]
	name = Yuya Tsuneoka
	email = tsuneoka@mizuuchi.lab.tuat.ac.jp
[color]
  ui = auto
[core]
  editor = vim -c \"set fenc=utf-8\"
[alias]
  graphall = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  graph    = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short
	dt = difftool
	mt = mergetool
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
[github]
	user = ytsunetsune
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = current
[http]
	sslVerify = false
